body {
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
}
.main{
  background-color: #FFF0F5;
  overflow: auto;
  margin-left: 200px
  padding: 1em;
}

.banner{
  width: 100%;
  height: auto;

.navigation {
  background-color: #DAF7A6;
  width: 200px;
  height: 100%

  position: fixed;
  top: 0;
  left: 0;
}

.site-links a {
  display: block;
  margin: 1em:
}

.site-links a:hover {
  margin-left: 2.5em;
}

.social-links {
  background-color: inherit;
  width: inherit;

  position: inherit;
  bottom: 0;
}

.social-links img {
  background-color: #999;
  width 25%
  height: auto;

  float: left;
}

.social-links img:hover {
  background color: #DAF7A8;
}
