/* Page-Wide */
body {
  text-align: center;
  background-color: #F0FFF0;
  color: #4169E1;
  padding: 5px;
}

/* Paragraph Content */
.text {
  background-color: #EEE8AA;
  color: ##dd4b39;
  padding: 5px;
}
