@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

/* Page-Wide */
body {
  text-align: center;
  background-color: #F0FFF0;
  color: #dd4b39;
  padding: 5px;
  font-family: 'Source Serif Pro', serif;
}

/* Paragraph Content */
.text {
  text-align: left;
  background-color: #EEE8AA;
  color: #4169E1;
  padding: 5px;
  font-family: Lato, Helvetica, sans-serif;

  line-height: 2em;
}

p:first-of-type:first-letter {
  font-family:'Meddon', cursive;
  font-size: 3em;
  font-weight: 600;
  Color: #FF5733;
}
