h1 {
  color: #6495ED;
}

.square {
  width: 50%;
}

body{
  background-color: #BC8F8F
}


#lightest {
  background-color: #FFF8DC;
}

#light {
  background-color: #FFEBCD;
}

#darker {
  background-color: #FFE4C4;
}

#darkest {
  background-color: #FFDEAD;
}
