h1 {
  color: #6495ED;
}

.square {
  width: 50%;
}

body{
  background-color: #BC8F8F
}


#pink {
  background-color: #FFF8DC;
}

#green {
  background-color: #FFEBCD;
}

#yellow {
  background-color: #FFE4C4;
}

#blue {
  background-color: #FFDEAD;
}
